
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --almostblue: #3498DB;
    --almostgrey: #E5E5E5;
}


body{
    display: flex;
    /* display: grid; */
    background-color: var(--almostgrey);
    height: 100vh;
    /* grid-template-rows: repeat(3, 1fr); */
    /* grid-template-columns: repeat(5, 100px); */
    align-items: center;
    justify-content: center;
    /* place-items: center; */
    /* place-content: center; */
}

.grid-container{
    display: grid;
    background-color: var(--white);
    grid-auto-rows: 100px;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(5, 1fr);
    /* justify-content: center; */
    width: 90%;
    gap: 10px;
    padding: 10px;
} 

.item{
    display: grid;
    background-color: var(--almostblue);
    color: var(--white);
    /* justify-content: center; */
    /* align-items: center; */
    place-items: center;
} 

 .item1{
    grid-column: 1/3 ;
    grid-row: span 2;
}

.item2{
    grid-column: 3/6;
}

.item3{
    grid-column: 4/6;
    grid-row: 4/6;
}

.item4{
    grid-column: 4/5;
    grid-row: 2/4;
}

.item5{
    grid-column: 2/4;
    grid-row: 3/4;
}

.item6{
    grid-column: 2/3;
    grid-row: 5/6;
}

.item7{
    grid-column: 1/3;
    grid-row: 4/5;
} 





